<div class="h-100 d-flex flex-column" style="background-color: #e9ecef">
  <ul class="nav nav-fill justify-content-center bg-gradient-secondary">
    <li class="nav-item pr-5">
      <a
        class="nav-link text-light"
        routerLink="/home"
        routerLinkActive="active"
      >
        Home
      </a>
    </li>
    <li class="nav-item pl-5">
      <a
        class="nav-link text-light"
        routerLink="/chatbot"
        routerLinkActive="active"
      >
        Chatbot
      </a>
    </li>
  </ul>
  <div class="h-100" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
